<section class="landing-page-view flex flex-col md:flex-row items-center justify-center h-screen bg-gray-100">
    <!-- Left Half - Text Section -->
    <div class="text-section w-full md:w-1/2 p-8">
        <h2 class="features-title">ABOUT INCEP</h2>
        <p class="about-incep-subtitle">
          Life Insurance That Creates Wealth For Everyone
        </p>
      
        <div class="about-cards mt-8 flex flex-col gap-6">
          <!-- Card 1 -->
          <div class="about-card bg-white shadow-lg rounded-lg p-4 flex items-start">
            <img src="assets/trusted_icon.jpg" alt="Icon 1" class="icon mr-4" />
            <div>
              <h3 class="about-card-title">Trusted By Thousand</h3>
              <p class="about-card-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi laborum nam cupiditate.</p>
            </div>
          </div>
      
          <!-- Card 2 -->
          <div class="about-card bg-white shadow-lg rounded-lg p-4 flex items-start">
            <img src="assets/set_for_life_icon.jpg" alt="Icon 2" class="icon mr-4" />
            <div>
              <h3 class="about-card-title">Set For Life</h3>
              <p class="about-card-subtitle">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt perferendis iure eius!</p>
            </div>
          </div>
      
          <!-- Card 3 -->
          <div class="about-card bg-white shadow-lg rounded-lg p-4 flex items-start">
            <img src="assets/protective_icon.jpg" alt="Icon 3" class="icon mr-4" />
            <div>
              <h3 class="about-card-title">Protective Insurance</h3>
              <p class="about-card-subtitle">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius quia aut labore!</p>
            </div>
          </div>
        </div>
      </div>
      
  
    <!-- Right Half - Image Section -->
    <div class="image-section w-full md:w-1/2 p-8 flex justify-center items-center">
      <img src="assets/about_incep.jpg" alt="Insurance Service" class="max-w-full h-auto rounded-lg shadow-lg">
    </div>
  </section>
  
  
