<section class="features-section text-center py-12">
  <!-- Title -->
  <h2 class="features-title">OUR SERVICES</h2>
  <p class="features-subtitle">Take The Worry Out Of Life</p>
  <p class="features-subtitle">Insurance Protection</p>

  <!-- Image Slider Container -->
  <div class="slider-container relative mt-8">
    <button class="slider-button left-button" onclick="moveSlide(-1)">&#10094;</button>
    <div class="slider-images flex overflow-hidden">
      <img src="assets/service_one.jpg" alt="Service 1" class="slide" />
      <img src="assets/service_two.jpg" alt="Service 2" class="slide" />
      <img src="assets/service_three.jpg" alt="Service 3" class="slide" />
    </div>
    <button class="slider-button right-button" onclick="moveSlide(1)">&#10095;</button>
  </div>
  <h2 class="services-footer-one">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, dolorum?</h2>
  <h2 class="services-footer-two">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit porro ad, temporibus maiores autem tenetur!</h2>
</section>
